<div class="box-style" >
<h1 class="partial-content-header">About us</h1>
<div class="row">
<div class="col-sm-6 col-md-4 col-lg-6" >        
<p><i>Arizona Systems</i> is a direct hire, contract and temporary staffing firm based in Phoenix, Arizona. <i>Arizona Systems </i>was founded in 2015 as a Professional, Staffing and IT Solutions firm to understand our client's needs. We partner with them to achieve their business efficiency by fulfilling their staffing needs in all area of operations.
</p>
<p><i>Arizona Systems</i> specializes in recruiting top quality talent for Customer Service, Information Technology, Business Analysis and Project Management.
</p>
<p>We believe in delivering the expertise, passion and talent to grow careers and businesses.
</p>
</div>
<div class="col-sm-6 col-md-6 col-lg-6" align="center">
<img src="images/about.jpg" class="img-thumbnail">
</div>
</div>
</div>
