<div >
                       <!-- <h3>Profile Pic</h3>                         
                        <div>
                            <input type="file" name="image" id="image" ng-file-select="onFileSelect($files)">
                            <br/>
                            <span class="errorMsg">{{ message}}</span>
                        </div>
						-->
<div class="box-style">
<h1 class="partial-content-header">Automation Testing</h1>
<p>There are no current openings, please check later.</p>
</div>
</div>