
                       <!-- <h3>Profile Pic</h3>                         
                        <div>
                            <input type="file" name="image" id="image" ng-file-select="onFileSelect($files)">
                            <br/>
                            <span class="errorMsg">{{ message}}</span>
                        </div>
						-->
<div class="box-style">
<h1 class="partial-content-header">Jobs</h1>

<div class="row">
<div class="col-sm-6 col-md-6 col-lg-6">
<p>There are no current openings, please check later.</p>
</div>
<div class="col-sm-6 col-md-6 col-lg-6">
<div >
	<img src="images/Jobs.jpg" class="img-thumbnail">
</div>
</div>
</div>
<br>

</div>
