<div class="box-style">
<h1 class="partial-content-header">Partners</h1>

<div class="row">
<div class="col-sm-6 col-md-6 col-lg-6">
<p><i>Arizona Systems</i> is open to have partnership in IT solutions, Staffing, Business processes and Management processes areas. You are welcome to be partner with <i>Arizona Systems</i> to be on successfully journey of collaboration.
</p>
 <p><a ng-href="#/contact" ng-click = "menu.selectTab(7)">Contact Now</a>&nbsp;or write us at <b>Info@arizonasys.com</b></p>
</div>
<div class="col-sm-6 col-md-6 col-lg-6">
<div >
	<img src="images/working-in-partnership.jpg" class="img-thumbnail">
</div>
</div>
</div>
<br>

</div>
