<div class="box-style">
<h1 class="partial-content-header">Staffing Services</h1>
<div class="row">
<div class="col-sm-6 col-md-4 col-lg-6" > 
<p>Whether it is an immediate-need solution, flexible staffing, long term projects or permanent new additions to your team, we will provide personal and professional solutions to exceed that expectation. We know our client's needs are changing every day, so we work with both clients and candidates to customize a recruiting approach that leads to a successful match for everyone. We understand how important flexibility is to you.
</p>
<p>We also understand the importance of a total offering, and we are committed to being your single source for Technical and Staffing solutions. <i>Arizona Systems</i> offers businesses a flexible approach as well as an expanded and integrated portfolio of staffing services, making <i>Arizona Systems </i>the only staffing firm your company will ever need. Let <i>Arizona System </i>Staffing make a successful match for you.
</p>
</div>
<div class="col-sm-6 col-md-4 col-lg-6" align="center"> 
<img src="images/StaffingImage4.jpg" class="img-thumbnail">
</div>
</div>
<br>
<p>Our employees get to know all of our customers on a personal level, understanding their business culture as well as their talent requirements.<br>
<br>Staffing Services:<br>
<ul style="font-weight:bold">
	<li>Direct placement</li>
	<li>Temporary staffing</li>
	<li>Temporary-to-permanent staffing</li>
</ul>
</p>
<p><i>Arizona Systems</i> specializes in candidates for: <br>
<ul style="font-weight:bold">
	<li>Information Technology</li>
	<li>Senior Management</li>
	<li>Accounting</li>
	<li>Quality Assurance (Testing)</li>
	<li>Automation Engineering</li>
</ul>
</p>
</div>