<div class="box-style">
<div class="row">
<div class="col-sm-6 col-md-6 col-lg-12">
<h1 class="partial-content-header">Training</h1>

<div class="row">
<div class="col-sm-6 col-md-6 col-lg-6">
<p>We provide Online Software Training Program, designed to provide rich learning experience for Students and Professionals across the World.Our training programs are backed by team of highly trained and competent IT experts with innovative ideas and dynamic actions.</p>
<p>
	Benefits of Online Training:
<ul >
	<li >Quality training.</li>
	<li>Customized Class timings.</li>
	<li>Lowest price in the market.</li>
	<li>Classes driven by real time expert.</li>
	<li>Interview assistance (FAQ’s, Sample resumes).</li>
	<li>Material (Manuals, Documents, presentations, suggested resources).</li>
	<li>You can attend from your happy and comfort environment.</li>
	<li>Flexible and customized timings.</li>
	<li>Easy to follow, because it’s more over practical sessions.</li>
	<li>Finally online training sessions are Easy, time saving and efficient.</li>
	<li>Interview Facing Skills and FAQ.</li>
</ul>
</p>
</div>
<div class="col-sm-6 col-md-6 col-lg-6">
<div >
	<img src="images/Corporate-Training.jpg" class="img-thumbnail">
</div>
</div>
</div>
<br>
<div class="col-sm-6 col-md-6 col-lg-12 training">
We provide training on various technologies ranging from frontend, backend & automation testing<br><br>
<div class="row">

<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			HTML5
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			CSS3 & Bootstrap
		</div>
	</div>
</div>

<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			JavaScript
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			JQuery
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			AngularJS
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			TPF
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			Core Java & J2EE
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			Servlet & JSP
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			JSF
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			Spring
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			Hibernate
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			SOAP based Web Services
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			RESTFUL Web Services
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			Web Hosting
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			Automation testing (Selenium)
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			Agile Scrum
		</div>
	</div>
</div>
</div>
<!--<div >
<ul style="font-weight:bold">
				<li class="alert alert-success">HTML5</li>
				<li>CSS3</li>
				<li>Bootstrap</li>
				<li>JavaScript</li>
				<li>JQuery</li>
				<li>AngularJS</li>
				<li>Core Java</li>
				<li>Servlet & JSP</li>
				<li>JSF</li>
				<li>Spring</li>
				<li>Hibernate</li>
				<li>SOAP based Web Services</li>
				<li>RESTFUL Web Services</li>
				<li>Agile Scrum</li>
				<li>Automation Testing(Selenium)</li>
			</ul>
</div>-->
<!--<div class="pull-right">
	<img src="images/allTraining.jpg" class="img-thumbnail"><br>
</div>-->
</div>
</div>
</div>
</div>