<div class="box-style">
<div class="row">
<div class="col-sm-6 col-md-6 col-lg-12">
<h1 class="partial-content-header">Web Development</h1>

<div class="row">
<div class="col-sm-6 col-md-6 col-lg-6">
<p>In today’s fast paced world there is a compelling need for organizations to deploy complex application solutions to stay ahead of relentless competition.</p>
<p>
	However the applications have to be up to date, responsive and properly managed in order to meet up with the customer expectation. <br><b>Arizona Systems</b> helps organizations exploit emerging opportunities by rapidly adopting new technologies as and when required. We provide time and cost-effective customized applications for organizations and help achieve their business goals effectively.
</p>
</div>
<div class="col-sm-6 col-md-6 col-lg-6">
<div >
	<img src="images/allTechs.png" class="img-thumbnail">
</div>
</div>
</div>
<br>
<div class="col-sm-6 col-md-6 col-lg-12 web">
We develop <b>SPA (Single page application)</b> ajax based end to end websites and hybrid mobile apps using the next generation technologies like :<br><br>
<div class="row">
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			HTML5
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			CSS3
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			Bootstrap
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			JavaScript
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			JQuery
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			AngularJS
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			PHP
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			Java & J2EE
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			Servlet & JSP
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			JSF
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			Spring
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			Hibernate
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			SOAP based Web Services
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			RESTFUL Web Services
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			We also do Web Hosting
		</div>
	</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="box-style">
		<div align="center" >
			Automation testing (Selenium)
		</div>
	</div>
</div>
</div>

</div>
</div>
</div>
</div>